<!-- creditos.component.html -->
<app-header></app-header>

<div class="container text-center mt-5">
    <!-- Imagen de tamaño medio -->
    <img src="yo.png" class="img-fluid mb-4" alt="Imagen de créditos" style="width: 200px; height: auto;">


    <!-- Título h2 -->
    <h2 class="mb-3">Diseño y desarrollado por</h2>

    <!-- Nombre del autor -->
    <h3 class="mb-2">Miguel Alejandro Rodríguez Cruz</h3>

    <!-- Clase o grupo -->
    <h3 class="mb-4">7CM1</h3>

    <!-- Mensaje de prueba -->
    <p>¡Gracias por visitar mi proyecto!</p>
</div>